<!-- Main Content -->
<div id="content">
  
    <app-profile-header></app-profile-header>
    
          <!-- Begin Page Content -->
    <div class="container-fluid" *ngIf="workItem!=null">
  
    <div class="d-sm-flex align-items-center justify-content-between mb-4"><h1 class="h3 mb-0 text-gray-800">Work Item {{workItem.Title}}</h1>
        <button class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"(click)="removeWorkItem()"> Remove a work item</button>
    </div>
        
    <form #form="ngForm" autocomplete="off" class="user ng-untouched ng-pristine ng-valid mb-4" (submit)="onSubmit(form)" ngNativeValidate>
        
        <input type="hidden" name="Id" #Id="ngModel" [ngModel]="workItem?.Id" value="{{workItem?.Id}}"/>
        <input type="hidden" name="ProjectId" #ProjectId="ngModel" [ngModel]="workItem?.ProjectId" value="{{workItem?.ProjectId}}"/>
        <input type="hidden" name="AuthorId" #AuthorId="ngModel" [ngModel]="workItem?.AuthorId" value="{{workItem?.AuthorId}}"/>
        
        <div class="form-group col-md-5">
            <label for="Title">Title</label>
            <input placeholder="Title" name="Title" #Title="ngModel" [ngModel]="workItem?.Title" value="{{workItem?.Title}}" [disabled]="role != 'Spectator' ? 'false': 'true'" class="form-control form-control-user" required>
        </div>
        <div class="form-group col-md-8">
            <label for="Description">Description</label>
            <input placeholder="Description" name="Description" #Description="ngModel" [ngModel]="workItem?.Description" value="{{workItem?.Description}}" [disabled]="role != 'Spectator' ? 'false': 'true'" class="form-control form-control-user" required>
        </div>
        <div class="form-group col-md-5">
            <label for="Progress">Progress (1-100 %)</label>
            <input type="number" placeholder="Progress" name="Progress" #Progress="ngModel" [ngModel]="workItem?.Progress" value="{{workItem?.Progress}}" [disabled]="role != 'Spectator' ? 'false': 'true'" class="form-control form-control-user" required>
        </div>
        <div class="form-group col-md-5">
            <label for="Priority">Priority (1-100 %)</label>
            <input type="number" placeholder="Priority" name="Priority" #Priority="ngModel" [ngModel]="workItem?.Priority" value="{{workItem?.Priority}}" [disabled]="role != 'Spectator' ? 'false': 'true'" class="form-control form-control-user" required>
        </div>
        <div class="form-group col-md-5">
            <label for="StatusId">Status</label>
            <select matNativeControl [(ngModel)]="workItem.StatusId" name="StatusId" #StatusId="ngModel" [disabled]="role != 'Spectator' ? 'false': 'true'" class="form-control col-md-5 mb-4">
                <option *ngFor="let status of workItemStatuses" [ngValue]="status.Id" [selected]="status.Id == workItem.StatusId">
                {{status.Name}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="WorkItemTypeId">ItemType</label>
            <select matNativeControl [(ngModel)]="workItem.WorkItemTypeId" name="WorkItemTypeId" #WorkItemTypeId="ngModel" [disabled]="role != 'Spectator' ? 'false': 'true'" class="form-control col-md-5 mb-4">
                <option *ngFor="let workItemType of workItemTypes" [ngValue]="workItemType.Id" [selected]="workItemType.Id == workItem.WorkItemTypeId">
                {{workItemType.Name}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="AssigneeId">Assignee</label>
            <select matNativeControl [(ngModel)]="workItem.AssigneeId" name="AssigneeId" #AssigneeId="ngModel" [disabled]="role != 'Spectator' ? 'false': 'true'" class="form-control col-md-5 mb-4">
                <option *ngFor="let assignee of assigneeList" [ngValue]="assignee.Id" [selected]="assignee.Id == workItem.AssigneeId">
                {{assignee.FullName}}
                </option>
            </select>
        </div>

        <input type="submit" class="btn btn-primary btn-user btn-block col-md-5" [ngClass]="{disabled : role == 'Spectator'}" value="Update">
    </form>
    <h3>Comments</h3>
   <app-comments-list [workItemId]="workItem.Id"></app-comments-list>
      
  </div>
  <!-- /.container-fluid -->
  
  