<div class="form-group">
  <div class="col-sm-6">
    <input placeholder="Search" name="Search" [(ngModel)]="searchPhrase" value="{{searchPhrase}}" class="form-control form-control-user">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-6">
    <label for="Position">Assignee:</label>
    <select [(ngModel)]="assigneeId" name="Assignee" #Assignee="ngModel" class="form-control form-control-user">
      <option *ngFor="let user of users" [ngValue]="user.Id" >{{user.FullName}}</option>
    </select>
  </div>
</div>
<div class="form-group">
  <button class="btn btn-sm btn-primary" (click)="search()" >Find</button>
</div>
<div class="row">
  <div *ngFor="let workItem of workItems" class="col-xl-8 col-md-8 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ workItem.Title }}</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Priority, %</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': workItem.Priority + '%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <div class="row no-gutters align-items-center mb-3">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Finished, %</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': workItem.Progress + '%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            <a class="text-xs font-weight-bold text-primary text-uppercase mb-1" href="/projects/{{projectId}}/work-items/{{workItem.Id}}">Look closer</a>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300">{{workItem.ItemType}}</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="pagesCount > 1">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" *ngFor="let item of [].constructor(pagesCount); let i = index" [attr.data-index]="pagesCount">
              <div class="page-link" (click)="paginate(i+1)">{{i + 1}}</div>
            </li>
        </ul>
      </nav>
  </div>
</div>