<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form #registerForm="ngForm" (ngSubmit)="register(registerForm)" class="user" autocomplete="off" ngNativeValidate>
                <div class="form-group">
                  <label for="FullName">Full name:</label>
                  <input type="text" name="FullName" #FullName="ngModel" [ngModel]="user?.FullName" class="form-control" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                  <label for="Login">Login:</label>
                  <input type="text" name="Login" #Login="ngModel" [ngModel]="user?.Login" class="form-control" placeholder="Login" required>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="Position">Position:</label>
                    <input type="text" name="Position" #Position="ngModel" [ngModel]="user?.Position" class="form-control" placeholder="Position" required>
                  </div>
                  <div class="col-sm-6">
                    <label for="Position">And you are:</label>
                    <select [ngModel]="user?.RoleId" name="RoleId" #RoleId="ngModel" class="form-control col-md-8">
                      <option *ngFor="let role of roles" [ngValue]="role.Id">{{role.Name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="Position">Password:</label>
                    <input type="password" name="Password" [(ngModel)]="Password" minlength="6" class="form-control" placeholder="Password" stand required>
                  </div>
                  <div class="col-sm-6">
                    <label for="Position">Repeat the password please:</label>
                    <input type="password" name="RepeartPassword" [(ngModel)]="RepeartPassword" minlength="6" class="form-control" placeholder="Repeat Password" pattern="{{ Password }}" required>
                  </div>
                </div>
                <input type ="submit" class="btn btn-primary btn-block" value="Register Account">
                <hr>
                <a routerLink="/login" class="nav-link" rel="nofollow"  routerLinkActive="active">Already got an account?</a>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>